@{
    ViewBag.Title = "Widget State Calculator";
}

<h2>Widget State Calculator</h2>


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>
        @Html.ValidationSummary(true)
        Widget:
        @if (ViewBag.WidgetList != null)
        {
            @Html.DropDownList("widgetlist", (SelectList)ViewBag.WidgetList)
        }
        <br /><br />
        State:
        @if (ViewBag.StateList != null)
        {
            @Html.DropDownList("statelist", (SelectList)ViewBag.StateList)
        }
        <br /><br />
        TotalPrice:
        @if (ViewBag.TotalPrice != null)
        {
            @Html.TextBox("totalPrice", (string)ViewBag.TotalPrice)
        }
        <br /><br />
        <input type="submit" value="Calculate" class="btn btn-default" />
    </p>
}




